/*body{
	width: 1000px;
	margin: 0px auto;
}

header{
	background-color: rgb(204, 204, 204);
	height: 140px;
	line-height: 140px;
	padding-left: 10px;
	padding-right: 10px;
	
}

section{
	background: rgb(255, 173, 133);
	width: 230px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

aside{
	width: 770px;
	float: left;
}

footer{
	background-color: rgb(230, 230, 230);
	padding-left: 10px;
	padding-right: 10px;
	height: 100px;
	line-height: 100px;
}
*/